<%=  form_for(@user) do |f| %>
<% if @user.errors.any? %>
<div data-alert class="alert-box alert">
<h2><%= pluralize(@user.errors.count, "error") %>
prohibited this user from being saved:</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<h2><a href="#" class="close">&times;</a><h2>
</div>
<% end %>
<div class="field">
<%= f.label :current_password %><br />
<%= f.text_field :current_password %>
</div>
<div class="field">
<%= f.label :password %><br />
<%= f.password_field :password %>
</div>
<div class="field">
<%= f.label :password_confirmation %><br />
<%= f.password_field :password_confirmation %>
</div>
<div>
<%= f.submit "change Password", class: "button" %>
</div>
<% end %>